@model IEnumerable<TestMVC.ExternalAPI.Response.ResAPI>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartureStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
        </td>
    </tr>
}

</table>
